/* Table of contents
------------------------------
- General Content
- Navigation
- Typography
- CSS Grid
- Images & Media
------------------------------ */

/* General Content
------------------------------ */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400');


*{box-sizing: border-box;}

html{
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;}


img {
    max-width: 100%;
    height: auto;
}

/* Navigation
------------------------------ */

@media (max-width: 768px){

ul, li {
    list-style-type: none;
    list-style:none;
    padding-left:0;
    margin:0 0 10px 0;
}


ul .child{
    padding: 20px 10px 10px 10px;}

ul .child a, .logo a{
    font-size: 1em;}

.logo a{
    margin: 260px 0;
    }

.child a, #prnt a, #about a, .logo a{
    color: #111;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

#prnt a, #about a{
    float: right;
    top: 10px;
    font-size: 1em;
    padding: 10px;
}

#prnt li a:hover{
    color: #808080;}


.child{
    display: none;}

.logo{
    top: 50px;
    left: 10px;
}

.socialIcons{
    display: none;}}


@media (min-width: 768px){

ul, li {
    list-style-type: none;
    list-style:none;
    padding-left:0;
    margin:0 0 10px 0;
}

ul .child{
    padding: 20px 10px 10px 10px;}

ul .child a, .logo a{
    font-size: 1.5em;}

ul .child a, #prnt a, #about a, .logo a{
    color: #111;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

#prnt a, #about a{
    font-size: 1.5em;
    padding: 1em;
}
    #about a, .shop{
    font-weight: 400;
    }

#prnt li a:hover{
    color: #808080;}

#sideNav{
    margin-top: 10vw;
}

.parent{
    position: fixed;
    top: 25%;
    }
.socialIcons{
    display: none;}}

/* Typography
------------------------------ */
body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
h1 {
    font-weight: 300;
}
h2 {
    font-weight: 100;
}

h3 {
 font-weight: 400;
}



/* CSS Grid
------------------------------ */

.wrapper {
    display: flex;
    flex-direction: column;
flex-wrap: wrap;}

#aboutDiv{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;}

@media (min-width: 768px){

.wrapper {
    display: grid;
    grid-template-columns: 0.74fr 2fr 1fr;
    grid-template-areas:
        "nav sec sec";
        "nav sec sec";}

.verticalMenu{
    grid-area: nav;}

#mainDiv{
    grid-area: sec;
    display: grid;
    grid-template-columns: 7fr 2.96fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "insta heading"
        "insta video";
    grid-gap: 5px;
    }
.photoBox{
    grid-area: photo;
    }

.instaBox{
    grid-area: insta;
    height: 100%}

.headingBox{
    grid-area: heading;
    margin-left: 5px;
    margin-bottom: 5px;}
/**/
.videoBox{
    grid-area: video;
    margin-left: 5px;}

#aboutDiv{
    grid-area: sec;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 3fr 2fr;
    grid-template-areas:
        "videoA videoA headingA"
        "videoA videoA headingA"
        "instaA photoA photoA";
    grid-gap: 5px;}

.photoBoxA{
    grid-area: photoA;}

.instaBoxA{
    grid-area: instaA;}

.headingBoxA{
    grid-area: headingA;}

.videoBoxA{
    grid-area: videoA;}}

/* Images & Media
------------------------------ */

.videoBoxA{
    display: none;}

.videoBoxB{
    display: block;}

@media (min-width: 768px){

.videoBoxA{
    display: block;}

.videoBoxB{
    display: none;
    }

.headingBox, .headingBoxA{
    background-color: #f7f7f7;
    color: #111;
    text-decoration: none;
    padding: 15px 30px;}

.videoBox {
    background-color: #f7f7f7;}

iframe {
 border: 0;
}

/* Overlay */

.instaBox, .instaBoxA{
    position: relative;}

.insta {
    display: block;
    width: 100%;
    height: auto;}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #f7f7f7;
}

.instaBox:hover .overlay {
  opacity: 0.8;
}

.instaBoxA:hover .overlay {
  opacity: 0.8;
}

.instaShare {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-decoration: none;
}

/* Instagram Button */

.button {
    background-color: #b0d1cc;
	border: 2px solid #b0d1cc;
	display: inline-block;
	cursor: pointer;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	padding: 8px 36px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #fff;
}

.button:active {
	position:relative;
	top:1px;
}

/* Subpages */

#mainBenches, #mainBestsellers, #mainStorage, #mainHangers, #mainDecoration{
    display: flex;
    flex-direction: column;}

@media (min-width: 768px){

#mainBenches, #mainBestsellers, #mainStorage, #mainHangers, #mainDecoration{
    grid-area: sec;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-areas:
        "item1 item2 item3"
        "item4 item5 item6";
    grid-gap: 5px;}

.item1Box{
    grid-area: item1;}

.item2Box{
    grid-area: item2;}

.item3Box{
    grid-area: item3;}

.item4Box{
    grid-area: item4;}

.item5Box{
    grid-area: item5;}

.item6Box{
    grid-area: item6;}}



/* Product Page */

#mainProduct{
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column-reverse;}

.productDescription{
    padding: 1.2em;}

@media (min-width: 768px){

#mainProduct{
    grid-area: sec;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-areas:
        "des ima";
    grid-gap: 5px;}

.productDescription{
    grid-area: des;}

.productImage{
    grid-area: ima;}}

/* Product Buttons */

.productButtons, .priceButtons{
    display: inline-block;}

 .priceButtons a{
    color: #111;
    text-decoration: none;
    margin: 0 15px 0 0;}

.buyNow, .calltoAction {
    background-color: #b0d1cc;
    color: #111;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 1em;
    padding: 6px 36px;
    text-decoration: none;}

.buyNow:hover{
    color: #fff;}

.calltoAction:hover{
    color: #fff;}

.descriptionButton, .detailsButton, .designButton {
    color: #111;
    text-decoration: none;}


/*picture redirection*/



.itemBox {
    height: 99%;
    position:relative;
    z-index: 10;
    background: grey;

}


.whiteSquare{
    color:white;
    transition: 1s ease;
    opacity: 0;
    position: absolute;
    left: 5%;
    text-align:center;
    top: 30%;
    width: 90%;
    max-height: 70%;
    font-size: 1.4vw;
    transform: translate(0px, 30px);
}

.itemBox:hover .whiteSquare{
    opacity: 1;
    transform: translate(0px, 0px);

}

.productClass{
    z-index: 0;
    transition: 1s ease;
}


.itemBox:hover .productClass{
    opacity: 0.3;
}

.itemBox:hover .buttonText{
    opacity: 1;
}

.prodButton{
    transition: .5s ease;
     border: solid 1px;
    margin: 1vw;
    padding: 0.5vw;
    text-decoration: none;
    color: white;
}
<<<<<<< HEAD
=======

>>>>>>> origin/master
